<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="">

  <title>Final Project Visualization</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/bootstrap/css/dash_css.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.9/dc.css"/>
</head>
<script src="../static/jquery/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/bootstrap/js/my_js.js"></script>
  <script src="https://d3js.org/topojson.v2.min.js"></script>
  <script src="//d3js.org/queue.v1.min.js"></script>
  <script src="https://d3js.org/d3-geo-projection.v1.min.js"></script>
  <script src="../static/bootstrap/js/tooltip.js"></script> 
<script type="text/javascript" src="https://rawgithub.com/NickQiZhu/dc.js/master/web/js/crossfilter.js"></script>
<script type="text/javascript" src="https://dc-js.github.io/dc.js/js/dc.js"></script>

<body onload="callme('/piechart')">
  <!-- <div id="test" style="margin: 15px;"></div>
  <div id = "scatter" style="margin: 15px;"></div>
  <div id="chart" style="margin: 15px;"></div> -->


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Final Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <!-- <span class="sr-only">(current)</span> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="but1" href="/dash">Player Distribution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="but2" href="/dash2">Player Statistics</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" id="but3" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" id="but3" href="/my_render">My Render</a>
            </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  
  <div class="dash_container">
      <div class="dash_col">
        <!-- First One -->
        <div id="test" style="margin: 15px;"></div>
      </div>
  
      <div class="dash_col">
          <!-- Third One -->
          <div id="chart" style="margin: 15px;"></div>
      </div>

      <div class="dash_col">
          <!-- Third One -->
          <div id="chart1" style="margin: 15px;"></div>
      </div>
      <div class="dash_col">
          <!-- Third One -->
          <div id="chart2" style="margin: 15px;"></div>
      </div>
      <div class="dash_col">
          <!-- Second One -->
          <div id="scatter" style="margin: 15px;"></div>
      </div>
      <div class="dash_col">
          <!-- Third One -->
          <div id="chart3" style="margin: 15px;"></div>
      </div>
      <div class="dash_col">
          <!-- Third One -->
          <div id="scatter1" style="margin: 15px;"></div>
      </div>
      <div class="dash_col">
          <!-- Third One -->
          <div id="testme" style="margin: 15px;"></div>
      </div>
  </div>
 

  <!-- Bootstrap core JavaScript -->
  <script src="../static/jquery/jquery.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  <!-- <script src="../static/bootstrap/js/my_js.js"></script> -->

<script>
  console.log("In dashboard js")
  function callme(a){
    console.log("_____")
    $.ajax({
        type: 'GET',
        url: a,
        contentType: 'application/json; charset=utf-8',
        success: function(result) {
        plot1(result)
        },
        error: function(result) {
        $("#error").html(result);
        }
    });
}

function plot1(rawdata){
    data=JSON.parse(rawdata)
    console.log(data)
    array=[]
    array1=[]
  // console.log(data.length)
  for(var i=0; i< 4;i++){
          obj = {}
          obj.x=i;
          obj.xname= data.children[i].name;
          obj.y = data.children[i].counter[0];
          array.push(obj);         
      }

  data=array
  console.log("dc data");
  // console.log(data)
  var data = crossfilter(data);
    // var chart = dc.scatterPlot("#test");
    // var chart = dc.scatterPlot('#scatter');
    let dimensionCategory = data.dimension(item => item.xname)
  let quantityByCategory = dimensionCategory.group().reduceSum(item => item.y)
  let countryCategory = data.dimension(item => item.x);
  let outOfDateByCountry = countryCategory.group().reduceSum(item => item.y); 
  var pie1 = dc.pieChart("#test");
  pie1
      .width(300)
      .height(300)
      .innerRadius(25)
      .legend(dc.legend())
      .label(function(d) {
          return d.key + ': ' + d.value; 
      })
      .dimension(dimensionCategory)
      .group(quantityByCategory);
  pie1.render();
  
  var chart = dc.barChart("#chart");
  chart
      .width(200)
      .height(200)
      .x(d3.scaleOrdinal())
      .xUnits(dc.units.ordinal)
      .xAxisLabel("continent id")
       .yAxisLabel("count")
      .elasticY(true)
      .dimension(countryCategory)
      .group(outOfDateByCountry);
  chart.render();
  datanew=JSON.parse(rawdata)
  // console.log(datanew)
  array1=[]
// console.log(Object.keys(datanew.dataset.Name).length)
for(var i=0; i< Object.keys(datanew.dataset.Name).length;i++){
        obj = {}
        obj.x=i;
        obj.z=datanew.dataset.Continent[i]
        obj.xname= datanew.dataset.Name[i];
        obj.y = datanew.dataset.Overall[i];
        obj.k =datanew.dataset.ValueNum[i]/1000000 ;
        obj.a=datanew.dataset.Age[i]
        array1.push(obj);
        
    }
    datanew=array1
  var chart = dc.lineChart('#scatter');
  
 console.log(datanew)
      var ndx            = crossfilter(datanew),
          fruitDimension = ndx.dimension(function(d) {return d.x;}),
          sumGroup       = fruitDimension.group().reduceSum(function(d) {return d.y;});
      chart
          .width(468)
          .height(280)
          .x(d3.scaleBand())
          .y(d3.scaleLinear().domain([80,100]))
          .xUnits(dc.units.ordinal)
          .brushOn(false)
          .xAxisLabel('top 20 player ID')
          .yAxisLabel('Overall')
          .dimension(fruitDimension)
          .group(sumGroup);
      chart.render();
      
      let countryCategory1 = ndx.dimension(item => item.x);
  let outOfDateByCountry1 = countryCategory1.group().reduceSum(item => item.y); 
      var chart = dc.barChart("#chart1");
  chart
      .width(400)
      .height(200)
      .x(d3.scaleOrdinal())
      .xUnits(dc.units.ordinal)
      .xAxisLabel(" top 20 player id")
       .yAxisLabel("overall")
      .elasticY(true)
      .dimension(countryCategory1)
      .group(outOfDateByCountry1);
  chart.render();

  let countryCategory2 = ndx.dimension(item => item.x);
  let outOfDateByCountry2 = countryCategory2.group().reduceSum(item => item.k ); 
      var chart = dc.barChart("#chart2");
  chart
      .width(400)
      .height(200)
      .x(d3.scaleOrdinal())
      .xUnits(dc.units.ordinal)
      .xAxisLabel(" top 20 player id")
       .yAxisLabel("Valuenum in Million")
      .elasticY(true)
      .dimension(countryCategory2)
      .group(outOfDateByCountry2);
  chart.render();

  let countryCategory3 = ndx.dimension(item => item.x);
  let outOfDateByCountry3 = countryCategory3.group().reduceSum(item => item.a); 
      var chart = dc.barChart("#chart3");
  chart
      .width(400)
      .height(200)
      .x(d3.scaleOrdinal())
      .xUnits(dc.units.ordinal)
      .xAxisLabel(" top 20 player id")
       .yAxisLabel("age")
      .elasticY(true)
      .dimension(countryCategory3)
      .group(outOfDateByCountry3);
  chart.render();

  // var chart = dc.scatterPlot('#scatter');
  
  //    var hwDimension = data.dimension(function(data) { 
  //       return [Math.floor(data.x), Math.floor(data.y)];
  //    });
  //    var hwGroup = hwDimension.group().reduceCount();
  
  //    chart
  //       .width(600)
  //       .height(400)
  //       .x(d3.scaleLinear().domain([0,10]))
  //       .y(d3.scaleLinear().domain([0,1000]))
  //       .brushOn(true)
  //       .xAxisLabel("Height")
  //       .yAxisLabel("Weight")
  //       .symbolSize(8)
  //       .clipPadding(10)
  //       .dimension(hwDimension)
  //       .group(hwGroup);
  
  //    chart.render();
  
  var chart = dc.scatterPlot('#scatter1');
  // var mycrossfilter = crossfilter(datanew);


   var hwDimension = ndx.dimension(function(data) { 
      return [data.x, Math.floor(data.y)];
   });
   var hwGroup = hwDimension.group().reduceCount();

   chart
      .width(500)
      .height(400)
      .x(d3.scaleLinear().domain([0,20]))
      // .x(d3.scaleBand().domain(["Europe","South America","Antarctica","Australia Oceania","Asia","North America","Africa"]))
      .y(d3.scaleLinear().domain([80,100]))
      .brushOn(true)
      .xAxisLabel("20 itmes from the dataset")
      .yAxisLabel("overall")
      .symbolSize(8)
      .label(function(d) { console.log(d)
          return d.key + ': ' + d.value; 
      })
      .clipPadding(10)
      .dimension(hwDimension)
      .group(hwGroup);

   chart.render();
  



  }
  </script> 
</body>

</html>
