<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="">
  <title>Final Project Visualization</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/bootstrap/css/my_css.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Final Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <!-- <span class="sr-only">(current)</span> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="but1" href="/dash">Player Distribution</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" id="but2" href="/dash2">Player Statistics</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" id="but3" href="/dash3">MAP</a>
          </li> -->
          <!-- <li class="nav-item">
              <a class="nav-link" id="but3" href="/dashboard">Dashboard</a>
          </li> -->
          <li class="nav-item">
              <a class="nav-link" id="but3" href="/my_render">My Render</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="but5" href="/play_dash">Player Dash</a>
        </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  
  <div class="container" id="pavan">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">FIFA  Visualization</h1>
        <p class="lead">Complete Correlated Visual Analytics Approach!</p>
        <ul class="list-unstyled">
          <!-- <li></li> --><br>
          <li>By:</li>
          <br>
          <li>Pavan Kumar Peela</li>
          <li>Rohit Bassi</li>
        </ul>
      </div>
    </div>
  </div>
 

  <!-- Bootstrap core JavaScript -->
  <script src="../static/jquery/jquery.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="../static/bootstrap/js/my_js.js"></script> -->


</body>

</html>
