<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Final Project Visualization</title>


  <!-- Bootstrap core CSS -->
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/bootstrap/css/my_css.css" rel="stylesheet">
  <style>
      .sv{
          margin-left: 400px;
          float:center; 
      }
      .sv1{
          /* margin-left: 400px; */
          float:left; 
      }
  </style>

</head>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/jquery/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/bootstrap/js/my_js.js"></script>

<body onload="caller()">
<!-- <body onload="callme('/plot')">
  <body onload="callme4('/piechart')"> -->
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Final Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Player Distribution</a>
            <!-- <span class="sr-only">(current)</span> -->
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/dash2">Player Statistics</a>
          </li> -->
          <!-- <li class="nav-item">
              <a class="nav-link" href="/dash3">MAP</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" id="but3" href="/dashboard">Dashboard</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" id="but3" href="/my_render">My Render</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="but5" href="/play_dash">Player Dash</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- <button data-hover="Plot ->" onclick="callme4(id)" id="/piechart"><div>Piechart</div></button> -->
    <!-- <div class="row" > -->
        <h3 align="center">PLAYERS DISTRIBUTION ACCORDING TO THEIR COUNTRY</h3>
    <!-- </div> -->
    <div class="sv" ><svg width="660" height="660" id="svg2" ></svg></div>
    <!-- <div class="sv1" ><svg width="600" height="600" id="svg5" ></svg></div> -->
    <!-- <div class="box">

      <svg width="680" height="700" id="svg5"></svg>
       
</div> -->
   
  <script>

function caller(){
  callme('/plot')    
  // callme4('/piechart')
}

function callme(a){
    console.log("_____")
    $.ajax({
        type: 'GET',
        url: a,
        contentType: 'application/json; charset=utf-8',
        success: function(result) {
        plot1(result)
        },
        error: function(result) {
        $("#error").html(result);
        }
    });
    // callme4('/piechart')
}

function callme4(a){
    $.ajax({
	  type: 'GET',
	  url: a,
      contentType: 'application/json; charset=utf-8',
	  success: function(result) {
        plot5(result)
	  },
	  error: function(result) {
		$("#error").html(result);
	  }
  });
  // callme('/plot')
}


function plot5(rawdata){
    data=JSON.parse(rawdata)
console.log(data)
var array=[]
for(var i=0; i< 5;i++){
        obj = {}
        obj.x=i;
        obj.xname= data.children[i].name;
        obj.ycount=data.children[i].counter[0];
        array.push(obj);  
    }
data1=array
console.log(data1)
final=[]
for(var t=0;t<data1.length;t++){
    final.push(data1[t].ycount);  //this is the data for pie chart!
}
var width = 760,
    height = 400,
    radius = Math.min(width, height) / 2;

var color = d3.scaleOrdinal()
    .range([ "#007bff","#1f77b4" ,"#ff7f0e", "#2ca02c", "#d62728", "#9467bd", "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf"

]);

var arc = d3.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var labelArc = d3.arc()
    .outerRadius(radius - 40)
    .innerRadius(radius - 40);

var pie = d3.pie()
    .sort(null)
    .value(function(d) { return d.ycount; });
    // var tooltip = d3.select("body").append("div").attr("class", "toolTip");
 
var svg = d3.select("#svg5").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    svg.append("text")
       .attr("x", -300)
       .attr("y", -150)
       .attr("font-size", "15px")
       .text("Player's count per continent")
    var tooltip = d3.select("body")
    .append("div")
    .style("position", "absolute")
    .style("z-index", "10")
    .style("visibility", "hidden")
    .style("background", "#f99e1a")
    .style("border","0px")
    .style("border-radius", "8px")
    .text("a simple tooltip");
  var g = svg.selectAll(".arc")
      .data(pie(data1))
    .enter().append("g")
      .attr("class", "arc");

  g.append("path")
      .attr("d", arc)
      .style("fill", function(d) { return color(d.data.ycount); })
      .on("mouseover", function(d){tooltip.text(d.data.xname+" : "+d.data.ycount); return tooltip.style("visibility", "visible");})
      .on("mousemove", function(){return tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");})
      .on("mouseout", function(){return tooltip.style("visibility", "hidden");});

//   g.append("text")
//       .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
//       .attr("dy", ".35em")
//       .text(function(d) { return d.data; });
 
    
        

}




function plot1(data){
    root=JSON.parse(data)
console.log(root)
  var svg = d3.select("#svg2").attr('id','chart'),
    margin = 20,
    width= 600,
    height=600,
    diameter=+600,
   // diameter = +svg.attr("width"),
    g = svg.append("g").attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

var color = d3.scaleLinear()
    .domain([-1, 5])
    .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
    .interpolate(d3.interpolateHcl);

var pack = d3.pack()
    .size([diameter - margin, diameter - margin])
    .padding(2)


    root = d3.hierarchy(root)
      .sum(function(d) { return d.size; })
      .sort(function(a, b) { return b.value - a.value; });

  var focus = root,
      nodes = pack(root).descendants(),
      view;

  var circle = g.selectAll("circle")
    .data(nodes)
    .enter().append("circle")
      .attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
      .style("fill", function(d) { return d.children ? color(d.depth) : null; })
      .on("click", function(d) { if (focus !== d) zoom(d), d3.event.stopPropagation(); });

  var text = g.selectAll("text")
    .data(nodes)
    .enter().append("text")
      .attr("class", "label")
      .style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
      .style("display", function(d) { return d.parent === root ? "inline" : "none"; })
      .text(function(d) { return d.data.name; });

  var node = g.selectAll("circle,text");

  svg
      .style("background", color(-1))
      .on("click", function() { zoom(root); });

  zoomTo([root.x, root.y, root.r * 2 + margin]);


  function zoomTo(v) {
    var k = diameter / v[2]; view = v;
    node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
    circle.attr("r", function(d) { return d.r * k; });
  }
 
 function zoom(d) {
    var focus0 = focus; focus = d;

    var transition = d3.transition()
        .duration(d3.event.altKey ? 7500 : 750)
        .tween("zoom", function(d) {
          var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
          return function(t) { zoomTo(i(t)); };
        });

    transition.selectAll("text")
      .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
        .style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
        .on("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
        .on("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
  }
}
</script>

</body>

</html>
