<!DOCTYPE html>
<html lang="en">
<style>
            #rightbox{ 
                float:right; 
                margin-right: 70px;
                width:25%; 
                height:280px; 
            }
            .dc-chart .pie-slice.external {
    fill: white;
}</style>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Final Project Visualization</title>
  <link rel="shortcut icon" href="">

  <!-- Bootstrap core CSS -->
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/bootstrap/css/player_dash.css" rel="stylesheet">
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.9/dc.css"/> -->
</head>
<script src="../static/jquery/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
                                                                <!-- Commented this line -->
  <!-- <script src="../static/bootstrap/js/my_js.js"></script> -->
  <script src="https://d3js.org/topojson.v2.min.js"></script>
  <script src="//d3js.org/queue.v1.min.js"></script>
  <script src="https://d3js.org/d3-geo-projection.v1.min.js"></script>
  <script src="../static/bootstrap/js/tooltip.js"></script> 
<script type="text/javascript" src="https://rawgithub.com/NickQiZhu/dc.js/master/web/js/crossfilter.js"></script>
<script type="text/javascript" src="https://dc-js.github.io/dc.js/js/dc.js"></script>

<!-- <script type="text/javascript" src="../temp.json"></script> -->

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Final Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <!-- <span class="sr-only">(current)</span> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="but1" href="/dash">Player Distribution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="but2" href="/dash2">Player Statistics</a>
          </li>
          <!-- <li class="nav-item">
                <a class="nav-link" id="but3" href="/dashboard">Dashboard</a>
          </li> -->
          <li class="nav-item">
                <a class="nav-link" id="but4" href="/my_render">My Render</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" id="but5" href="/play_dash">Player Dash</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="dynamic_input">
        <div class="row">
                <!-- <div class="col-md-3"></div> -->
                <div class="col-md-2" id="first">
                        <select id="players_data_input" class="form-control">
                                <!-- <option value="0">Please select Range</option> -->
                                <option value="1">0 - 3000</option>
                                <option value="2">3000 - 6000</option>
                                <option value="3">6000 - 10000</option>
                        </select>
                </div>

                <div class="col-md-2" id="second">
                        <select id="players_stat_input" class="form-control">
                                <!-- <option value="0">Please select Range</option> -->
                                <option value="0">All Players</option>
                                <option value="ST">Striker</option>
                                <option value="RW">Right Winger</option>
                                <option value="LW">Left Winger</option>
                                <option value="CB">Centre back</option>
                                <option value="RM">Right Midfielder</option>
                                <option value="CM">Centre Midfielder</option>
                                <option value="LM">Left Midfielder</option>
                                <option value="LB">Left Back</option>
                                <option value="RB">Right Back</option>
                                <option value="CF">Centre Forward</option>
                                <option value="CDM">Centre Defense Midfielder</option>
                                <option value="CAM">Centre Attack Midfielder</option>
                                <option value="RWB">Right Wing Back</option>
                                <option value="LWB">Left Wing Back</option>
                                <!-- <option value="GK">Goal Keeper</option> -->
                        </select>
                </div>       
                <div class="col-md-2">
                   <div class="col-md-2">
                    <button id="submit" type="button" class="btn btn-success">Reset</button>
                   </div> 
                </div>
                <!-- <div class="col-md-3"></div> -->
              </div>
  </div>

  
  <div class="dash_container" float="top">
        
      <div class="dash_col" id = "pie_cont" style="margin-top: 30px;">
        <!-- First One -->
        <div id="chart" style="margin: 15px;" title="Subdivision Div Element" ></div>
        <h7 align="center" id="headers">Clubs Listings</h7>
        <!-- <div id="continent" style="margin-left: 15px; margin-top: 30px;"></div> -->
      </div>
      <div class="dash_col" id = "pre_pos_char"style="margin-top: 30px;">
          <!-- Third One -->
          <div id="chart_two" style="margin: 15px;"></div>
          <h7 align="center" id="headers_two">Player Positions</h7>
          <!-- <h4 align="center" id="chart" style="color:red">SPECIALITY</h4> -->
      </div>
      <div class="dash_col" id = "bar_char" style="margin-top: 30px;">
            <!-- Third One -->
            <div id="chart" style="margin: 15px;"></div>
            <h7 align="center" id="headers_three">Clubs Total Valuation</h7>
        </div>
        
  </div>
  <div class="container" style="margin-bottom:40px;"></div>
  <h7 align="center" id="headers" style="margin-left: -1350px;">Players by Overall Score</h7>
  <div class="dash_col_three" id = "player_stat" style="margin-top: 15px;">
      <!-- Third One -->
      <!-- <div id="chart" style="margin: 15px;"></div> -->
  </div>

  <!-- <h7 align="center" id="headers_childs" style="margin">Acceleration</h7> -->
    <div class="child" id="stat1" >
      <!-- <h6 align="center" id="stat1" style="color:red">ACCELERATION</h6> -->
      <h7 align="center" class = "x1" id="headers_childs" style="margin-left: 85px;">Acceleration</h7>
    </div>
    
    <div class="child" id="stat2">
      <!-- <h6 align="center" id="stat2" style="color:red">DRIBBLING</h6> -->
      <h7 align="center" class = "x1" id="headers_childs" style="margin-left: 95px;">Dribbling</h7>

    </div>
    <div class="child" id="stat3">
      <!-- <h6 align="center" id="stat3" style="color:red">FINISHING</h6> -->
      <h7 align="center" class = "x1" id="headers_childs" style="margin-left: 95px;">Finishing</h7>

    </div>
    <div class="child" id="stat4">
      <!-- <h6 align="center" id="stat4" style="color:red">STRENGTH</h6> -->
      <h7 align="center" class = "x1" id="headers_childs" style="margin-left: 98px;">Strength</h7>

    </div>
    <div class="child" id="stat5">
      <!-- <h6 align="center" id="stat5" style="color:red">STAMINA</h6> -->
      <h7 align="center" class = "x1" id="headers_childs" style="margin-left: 98px;">Stamina</h7>

    </div>
    <div class="child" id="stat6">
      <!-- <h6 align="center" id="stat6" style="color:red">PENALTIES</h6> -->
      <h7 align="center" class = "x1" id="headers_childs" style="margin-left: 98px;">Penalties</h7>

    </div>
    <div class="child" id="stat7">
      <!-- <h6 align="center" id="stat7" style="color:red">WAGE</h6> -->
      <h7 align="center" class = "x1" id="headers_childs" style="margin-left: 98px;">Wage</h7>

    </div>
    <div class="child" id="stat8">
      <!-- <h6 align="center" id="stat8" style="color:red">VISION</h6> -->
      <h7 align="center" class = "x1" id="headers_childs" style="margin-left: 98px;">Vision</h7>

    </div>
    <div class="child" id="stat9">
      <!-- <h6 align="center" id="stat9" style="color:red">VOLLEY</h6> -->
      <h7 align="center" class = "x1" id="headers_childs" style="margin-left: 98px;">Volley</h7>

    </div>
    
    
 

  <!-- Bootstrap core JavaScript -->
  <script src="../static/jquery/jquery.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/bootstrap/js/player_dash.js"></script>
  </body>
  </html>